.cta {
  border: 2px solid #fff;
  border-radius: 4px;
  background-color: var(--secondary);
  color: #fff;
  font-size: var(--text-md);
  font-weight: var(--bold);
  margin-top: 1em;
  padding: 1em 16px;
  cursor: pointer;
}

.cta:hover {
  background-color: var(--secondary);
}
