.container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--border);
  font-size: var(--text-sm);
  margin-top: var(--space-2xl);
  padding: var(--space-2xl) 0;
}

.container a {
  border-bottom: 1.5px solid transparent;
  font-weight: var(--medium);
}

.container a:hover {
  border-bottom-color: var(--primary);
  color: var(--primary);
}

.icon {
  margin-right: 10px;
}
