.hero {
  margin: 0;
  max-height: calc(100vh - 30vh);
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.imageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  height: 100%;
  width: 100%;
  background: black;
  background: linear-gradient(
    60deg,
    rgba(0, 0, 0, 0.7777485994397759) 30%,
    rgba(255, 255, 255, 0) 100%
  );
}

.textOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  width: 100%;
}

.title {
  letter-spacing: -0.012em;
  font-size: var(--text-2xl);
  font-weight: var(--extrabold);
  line-height: var(--solid);
  margin: 0 0 var(--space-xl);
}

.subtitle {
  font-size: var(--text-lg);
  font-weight: var(--semibold);
  margin: 0;
}

.cta {
  display: none;
  border: 2px solid #fff;
  background-color: var(--secondary);
  border-radius: 4px;
  color: #fff;
  font-size: var(--text-md);
  font-weight: var(--bold);
  margin-top: 1em;
  padding: 1em 16px;
  cursor: pointer;
}

.cta:hover {
  background-color: #ff7400;
}

@media (min-width: 768px) {
  .textOverlay {
    padding: 2em;
  }

  .title {
    font-size: var(--text-4xl);
  }

  .subtitle {
    font-size: var(--text-2xl);
  }
}
