.container {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  text-transform: uppercase;
  max-width: var(--size-max-width);
  align-items: center;
  margin: 0 auto;
  padding: 0 5vw;
  z-index: 2; 
}

@media (max-width: 768px) {
  .container {
    background: #fff;
    border-bottom: 2px solid #33333320;
    position: sticky;
    height: 8vh;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
  }
}

.navigation {
  margin: 0;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 768px) {
  .navigation {
    flex-direction: column;
    position: fixed;
    width: 100%;
    justify-content: flex-start;
    padding-top: 10vh;
    background-color: #fff;
    transition: all 0.3s ease-in;
    top: 8vh;
    left: -100%;
  }

  .open.navigation {
     left: 0;
  }
}

