.container {
  background: var(--primary);
  color: #fff;
  text-align: center;
}

.copy {
  font-size: var(--text-lg);
}

.readMore {
  display: block;
  margin-top: 2em;
  font-weight: var(--semibold);
  font-size: var(--text-xl);
}

@media (min-width: 768px) {
  .container {
    text-align: left;
  }

  .copy {
    font-size: var(--text-2xl);
  }

  .readMore {
    font-size: var(--text-2xl);
  }
}
